 <ul class="list-unstyled">
  <% quests.each do |quest| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= link_to quest.user.name, user_path(quest.user) %> <span class="text-muted">posted at <%= quest.created_at %></span>
        </div>
        <div>
          <p><%= quest.content %></p>
        </div>
        <div>
          <% if current_user == quest.user %>
            <%= link_to "削除", quest, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate quests %>
  
  <% if @flag == true then %>
  complete
  <% else %>
  
  <% end %>
</ul>