<% if logged_in? %>
  <h2>クエスト</h2>
  <div class="row">
    <div class="col-md">
      <%= form_with(model: @quest, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 1 %>
        </div>
        <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
        <P>今日一日の目標を設定してください。<br>
           （例）英語の勉強を２時間する！</P>
      <% end %>
    </div>
<% else %>
<h1>目標達成アプリ</h1>
  <p>目標を普通に決めても結局やる気が出ないですよね..<br>
     そのため目標をクリアする楽しみや面白さが必要です！<br>
     これはゲーム感覚でモチベが続く目標達成アプリです。</p>
    <div class="nav-item-wrapper">    
     <div class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></div>
     <div class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></div>
<% end %>     